<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Events Manager</title>
</head>
<body class="bg-landscape">

    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Events Manager</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" 
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="home/dashboard.html">Home <span class="sr-only">(current)</span></a>
              </li>        
            </ul>
          </div>
          </div>
        </nav>


      <!-- SIGNUP FORM-->
      <section class="container">

        <!-- HEADER TEXT -->
        <div class="row mt-5 align-items-center">
          <div class="col-12 col-md-7 mb-4">
            <h3 class="display-4 text-white-50">Events Manager</h3>
            <p class="lead text-white-50">We handle the logistics of your events</p>
          </div>


          <!-- SIGNUP FORM -->
          <div class="col-12 col-md-5">
            <div class="form-box form-signup">              
                <div class="form-group">
                    <div class="form-top pt-pb">

                      <!-- SIGNUP TOP TEXT -->
                      <div class="form-top-text">
                        <h3>Sign up</h3>
                      </div>

                      <!-- PENCIL ICON -->
                      <div class="pencil-icon">
                        <i class="fa fa-2x fa-pencil"></i>
                      </div>
                  </div>  
                  
                  <!-- SIGNUP FORMFIELD -->
                  <div class="form-bottom pt-pb">
                      <form role="form" action="post" id="need-validation">
                        <div class="form-group">
                          <label class="sr-only" for="form-firsname">Fullname</label>
                          <input type="text" class="form-control " placeholder="Fullname" required>

                          <label class="sr-only" for="form-firsname">Fullname</label>
                          <input type="text" class="form-control mt-mb" placeholder="Username" required>
    
                          <label class="sr-only" for="form-lastname">Email</label>
                          <input type="email" class="form-control mt-mb" placeholder="Email" required>
                        </div>

                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" class="form-control mt-mb" placeholder="Password" required>

                        <label class="check text-white-50">
                          <input type="checkbox" value="remember-me"> Remember me 
                        </label>

                        <button type="submit" class="btn btn-info btn-block mt-mb">Signup</button>
                      </form>
                      <div class="slogin-call text-white-50 text-center">
                          <p> Already a member? <a class="" href="index.html"> Login</a></p>
                      </div>
                  </div>
                </div>                                  
            </div>
            
        </div>

      </section>
    </section>
    
    <!-- FOOTER -->
    <footer class="fixed-bottom text-center text-white-50 pb-3">
        &copy; 2017 Events Manager 
      </footer>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-3.1.1.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>